/* Importiern der Schriftart vom Projekt */
@font-face {
  font-family: ubuntu;
  src: url(../../rsc/Fonts/Ubuntu/Ubuntu-Light.ttf);
  font-width: light;
}

/*-----------------------------------------------------
-------------------------Global-------------------------
-------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(11, 36, 13);
  /* Hintergrundfarbe der Webseite */
  margin: auto;
  /* Zentriert den Body in die Mitte */
  padding: 0;
  /* Setzt alle Abstände auf 0 */
  height: 100%;

  /* Wen die Displaygröße unter 1920 px liegt gilt das Attribut 100 % 
    wen die Displaygröße aber über 1920 px Größe ist, gilt das Attribut 1920. 
    So wird verhindert, dass die Website vertikal verzehrt wird, 
    es ergibt sich eine Maximal Größe von 1920 px.  */
  width: min(100%, 1920px);
}

/* Setzt die Schriftart fest für alle Überschriften und Links und Paragraphen 
 die Schriftart wird von Projekt zur Verfügung gestellt, 
 so kann es nicht vorkommen, das die Schrift nicht vorhanden ist. */
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: ubuntu;
}

h1 {
  font-size: 2em;
  color: rgb(255, 255, 255);
}

h2 {
  color: white;
  font-size: 1.2em;
  text-align: center;
  /* Zentriert alle Überschriften zweiter Ordnung */
  margin: 0 22% 0 22%;
  /* Begrenzt die Line unter der Überschrift, recht und links  22 % weniger */
  padding-bottom: 2%;
  /* Distanziert die Line von der Überschrift */
  border-bottom: 1px solid white;
  /* Zeichnet die Line unterhalb der Überschrift */

}

h3 {
  color: white;
  font-size: 1em;
  text-align: center;
  /* Zentriert alle Überschriften dritter Ordnung */
}

p,
a {
  color: white;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Custom Scrollbar Track */
::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(115, 111, 108, 0.25);
}

/* Custom Scrollbar Thumb */
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: rgb(20, 4, 4); 
}

/* Custom Scrollbar Thumb on hover */
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(42, 39, 31);
}

/* For Tablet */
@media only screen and (max-width: 1068px) {

  
  .layout_part_2 {
    /* Veränder das Grid auf eine Spalte */
    grid-template-columns: 1fr;
  }

  .text_pos {
    /* Lässt den Text bis an den Bildrand reichen */
    margin: 2% 2% 3% 2%;
  }

  #googleMaps {
    /* Höhe der Google Maps Karte wird erhöht */
    height: 640px;
  }
}

/* For Smartphone */
@media only screen and (max-width: 734px) {

  
  /* Verändert die Schriftgröße */
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
  }

  ul {
    font-size: 0.6em;
  }

  /* Navigationsbar */
  nav ul a,
  #btnDropdown,
  #dropdownContent a {
    /* Verkleiner die Boxen der Navigationsbar */
    padding: 10px;
  }

  table {
    /* Verändert die Schriftgröße */
    font-size: 0.8em;
  }

  thead th,
  tbody td {
    /* Verändert die Schriftgröße */
    font-size: 0.9em;
    /* Verändert die Tabellen-Abstände */
    padding: 5px;
  }

  .pin {
    height: 2vmin;
    width: 2vmin;
    /* Verändert die Rahmen grösse */
    border-width: 0.6vmin;
  }
}