/*-----------------------------------------------------
-------------------------Part_1-------------------------
-------------------------------------------------------*/

/* Background Bild */


#part_1 {
    /* Mit Position Relativ kann gewährleistet werden, das sich 
    alle darin befindenden Element nicht größer alls das Element werden 
    und die Elemente könne auf das Bild geschoben werden */
    position: relative;
}

#homeImg {
    width: 100%;
    /* Setzt das Bild auf 100 % der Webseiten größe  */
    /* Fügt dem Bild ein Spiegeleffekt hinzu */
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, rgba(255, 255, 255, 0)), to(rgb(250, 250, 250)));
}

/* Navigationsbar */

nav {
    /* Navigationsbar ist fixiert, das heißt, sie befindet 
    sich immer auf dem Display, wen sie nicht ausgeblendet wird */
    position: fixed;
    z-index: 1002;
    /* Ist das vorderste Element */
    top: 0%;
    /* Befindet sich am obersten Rand des Displays */
    width: min(100%, 1920px);
    /* Gleiche Größe wie der Body */
    padding: 0;
    margin: 0;
    /* Lässt Navigationsbar fließend verschwinden */
    transition: top 0.3s;
}

nav ul {
    display: flex;
    /* Das Display: flex ordnet alles nacheinander an */
    justify-content: center;
    /* Zentriert die Boxen in der Mitte */
    align-items: center;
    /* Zentriert die Elemente in die Mitte */
    padding: 0;
    margin: 0;
}

nav ul a {
    background-color: rgba(70, 164, 218, 0.589);
    font-size: 0.9em;
    text-align: center;
    /* Text wird in der Box zentriert */
    padding: 15px;
    text-decoration: none;
    /* Unterstriche der Links werden entfernt */
    border: solid 1px rgba(0, 0, 0, 0);
}

#borderRadLeft {
    /* Rundet zwei Kanten der Navigationsbar links ab */
    border-radius: 10px 0px 0px 10px;
}

#borderRadRight {
    /* Rundet zwei Kanten der Navigationsbar rechts ab */
    border-radius: 0px 10px 10px 0px;
}

#borderRadDown,
#dropdownContent {
    /* Rundet beim Dropdown-Menü in der Navigationsbar 
    die beiden unteren Kanten und ab */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#borderRadUpRight,
#dropdownContent {
    border-top-right-radius: 10px;
}

#btnDropdown {
    background-color: rgba(70, 164, 218, 0.589);
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align: center;
    /* Text wird in der Box zentriert */
    padding: 15px;
    text-decoration: none;
    /* Unterstriche der Links werden entfernt */
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 0px 10px 10px 0px;
}

/* Verändert die Backgroundfarbe, wen die Maus darüber kommt */
nav ul a:hover,
#btnDropdown:hover,
#dropdownContent a:hover {
    background-color: rgb(0, 60, 255);
}

#dropdownContent {
    display: none;
    /* Blendet das Bild standartmäßig aus */
    position: absolute;
    /* Setzt das Div über das Background-Bild  */
    background-color: rgba(70, 164, 218, 0.589);
    min-width: 10px;
    /* Setzt die Minimale größe des Elements */
    z-index: 1;
    /* Setzt den Dropdownmenü über das Background Bild */
}

#dropdownContent a {
    /* Setzt ein Abstand von 12 px oben und unten und ein 
    Abstand von 16 px rechts und links */
    padding: 15px 16px;
    text-decoration: none;
    /* Unterstriche der Links werden entfernt */
    /* Blockiert das Dropdownmenü so das es nicht an 
    das Navigationsbar angefügt werden kann */
    display: block;
    text-align: left;
    /* Schiebt den Text nach links */
}

/* Wen über das Dropdownmenü gefahren wird, wird es angezeigt  */
#dropdown:hover #dropdownContent {
    display: block;
}

/* Überschrift */

#center {
    position: absolute;
    /* Setzt das Div über das Background-Bild  */
    top: 45%;
    /* Setzt die Distanz von oben 45 % nach unten */
    width: 100%;
    text-align: center;
    /* Text wird in der Box zentriert */
}

/* Icons */

#bottomRight {
    position: absolute;
    /* Setzt das Div über das Background-Bild  */
    bottom: 6%;
    /* Von unten 6 % nach oben */
    right: 16px;
    /* Von rechts 16 px nach links */
}

.icon {
    color: white;
    font-size: 27px;
    width: 35px;
}

/* Vergrössert und wechsel die Farbe wen darübergefahren wird */
.icon:hover {
    font-size: 28px;
    color: #9b9b9b;
}

.mail {
    /* transform achtet nicht auf andere Elemente mit scale wird die
    grösse verändert mit translateY wird das Element nach unten geschoben  */
    transform: scale(1.2) translateY(1px);
}

/* Vergrössert und wechsel die Farbe wen darübergefahren wird */
.mail:hover {
    /* verändert die grösse des Element und schiebt es nach unten */
    transform: scale(1.25) translateY(1px);
    color: #9b9b9b;
}

#instagram {
    color: white
}

/* Beschreibung links */

#bottomLeft {
    position: absolute;
    /* Setzt das Div über das Background-Bild  */
    bottom: 5%;
    /* Von unten 5 % nach oben */
    left: 16px;
    /* Von links 16 px nach rechts */
}

/* For Smartphone */
@media only screen and (max-width: 734px) {
  /* Navigationsbar */
  nav ul a,
  #btnDropdown,
  #dropdownContent a {
    /* Verkleiner die Boxen der Navigationsbar */
    padding: 10px;
  }

}